{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'kitchen-project' %}

{% block title %}{{ "title.recipe.admin.index"| trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ "title.recipe.admin.index"| trans }}</h1>

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>BackgroundFilename</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>Resume</th>
                <th>Enabled</th>
                <th>PathBackground</th>
                <th>IsEnabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.backgroundFilename }}</td>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recipe.updateAt ? recipe.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recipe.resume }}</td>
                <td>{{ recipe.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ recipe.pathBackground }}</td>
                <td>{{ recipe.isEnabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_recipe_show', {'id': recipe.id}) }}"><span class="fa fa-eye text-primary fa-lg"></span></a>
                    <a href="{{ path('admin_recipe_edit', {'id': recipe.id}) }}"><span class="fa fa-edit text-warning fa-lg"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ 'text.noRecordsFound' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_recipe_new') }}" class="btn btn-success btn-lg text-white" style="width:50px; height:50px"><span class="fa fa-plus text-success fa-lg"></span></a>
{% endblock %}
