<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{{ render(controller('App\\Controller\\Admin\\LayoutController::headerAction')) }}
{% if is_granted("ROLE_USER") %}
<div class="d-flex">
    {{ render(controller('App\\Controller\\Admin\\LayoutController::leftSideAction')) }}
    {% endif %}
    {{ is_granted("ROLE_USER")? "<div class='body-connected admin'>": "" }}
    {% block body %}
    {% endblock %}

    {% if is_granted("ROLE_USER") %}
</div>
{% endif %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('addCollection') }}
    <script src="{{ asset('js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/mdb.min.js') }}"></script>
    <script src="{{ asset('js/modules/add-collection-widget.js') }}"></script>
    <script>$('#step_time').pickatime({});</script>
{% endblock %}
</body>
</html>