{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'kitchen-project' %}

{% block title %}{{ "title.mark.admin.index"| trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ "title.mark.admin.index"| trans }}</h1>

    <table class="table" id="table">
        <thead>
            <tr>
                <th>{{ "mark.table.id"| trans }}</th>
                <th>{{ "mark.table.quantity"| trans }}</th>
                <th>{{ "mark.table.createdAt"| trans }}</th>
                <th>{{ "mark.table.actions"| trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for mark in marks %}
            <tr>
                <td>{{ mark.id }}</td>
                <td>{{ mark.quantity }}</td>
                <td>{{ mark.createdAt ? mark.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_mark_show', {'id': mark.id}) }}"><span class="fa fa-eye text-primary fa-lg"></span></a>
                    <a href="{{ path('admin_mark_edit', {'id': mark.id}) }}"><span class="fa fa-edit text-warning fa-lg"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'text.noRecordsFound' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_mark_new') }}" class="btn btn-success btn-lg text-white" style="width:50px; height:50px"><span class="fa fa-plus text-success fa-lg"></span></a>
{% endblock %}
