{% trans_default_domain "kitchen-project" %}
<div class="modal fade" id="modalStepOne" tabindex="-1" role="dialog" aria-labelledby="modalStepOneLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalStepOneLabel">{{ "text.recipe.construction.stepOne"|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_row(formRecipe.title) }}
                {{ form_row(formRecipe.resume) }}
                {{ form_row(formRecipe.backgroundPicture) }}
                {{ form_row(formRecipe.pictures) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"  data-target="#modalStepTwo">
                    {{ "text.recipe.construction.stepTwo"|trans }}
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "form.button.close"|trans }}</button>
            </div>
        </div>
    </div>
</div>