{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'kitchen-project' %}

{% block title %}{{ 'title.notify.admin.index'| trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ 'title.notify.admin.index'| trans }}</h1>

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Enabled</th>
                <th>Reason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notify in notifies %}
            <tr>
                <td>{{ notify.id }}</td>
                <td>{{ notify.content }}</td>
                <td>{{ notify.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ notify.reason }}</td>
                <td>
                    <a href="{{ path('admin_notify_show', {'id': notify.id}) }}"><span class="fa fa-eye text-primary fa-lg"></span></a>
                    <a href="{{ path('admin_notify_edit', {'id': notify.id}) }}"><span class="fa fa-edit text-warning fa-lg"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'text.noRecordsFound' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_notify_new') }}" class="btn btn-success btn-lg text-white" style="width:50px; height:50px"><span class="fa fa-plus text-success fa-lg"></span></a>
{% endblock %}
