{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'kitchen-project' %}

{% block title %}{{ "title.comment.admin.index" | trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ "title.comment.admin.index" | trans }}</h1>

    <table class="table" id="table">
        <thead>
            <tr>
                <th>{{ "recipe.table.id" | trans }}</th>
                <th>{{ "recipe.table.content" | trans }}</th>
                <th>{{ "recipe.table.createdAt" | trans }}</th>
                <th>{{ "recipe.table.enabled" | trans }}</th>
                <th>{{ "recipe.table.isParticipatory" | trans }}</th>
                <th>{{ "recipe.table.actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ comment.IsParticipatory ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_comment_show', {'id': comment.id}) }}"><span class="fa fa-eye text-primary fa-lg"></span></a>
                    <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}"><span class="fa fa-edit text-warning fa-lg"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'text.noRecordsFound' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_comment_new') }}" class="btn btn-success btn-lg text-white" style="width:50px; height:50px"><span class="fa fa-plus text-success fa-lg"></span></a>
{% endblock %}
